html {
  scroll-behavior: smooth;
}

.guidedLogStep{
	background-color: #2C3E50;
	color: white;
	border-radius: 25px;
	box-shadow: 5px 5px 4px #1a252f;
	margin-top: 35px;
	margin-bottom: 20px;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	transition: all .25s ease-in-out;
}

.newLine{
  border: 10px solid black;
  border-radius: 5px;
}

.guidedLogStep:hover { transform: scale(1.05); }

.generatedMessage{
	background-color:  #2C3E50;
	border-radius: 25px;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all .5s ease-in-out;
  margin-top: 100px;
}

.generatedMessage:hover{
	background-color:  white;
	border-radius: 25px;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.imageUpdate{
	background-color: white;
	border-radius: 25px;
	height: 500px;
	width: auto;
}

.sdwLogAssistance{
	margin: 0 auto;
    width: 1000px;
    color: black;
}

.card{
	margin-top: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 4px #1a252f;
    margin-bottom: 10px;
    transition: all .25s ease-in-out;
    background-color:  #2C3E50;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.card:hover { transform: scale(1.025); }

.card-1{
	margin-top: 0px;
}

.card-9{
	text-align: center;
}

.inputFile{
	margin-left: 420px;
}

.card-title{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:  #2C3E50;
	color: white;
}

.form-group-1{
	color: white;
}

.generateAssistanceButton{
  color: white;
  text-decoration: none;
}
.generateAssistanceButton:hover{
  color: white;
  text-decoration: none;
}

/******* ADDING ARROW ANIMATION ********/
.downArrow{
	width: auto;
	margin-left:480px;
	left: 50%;
}
.arrowClass{
	width: 25%;
	height: 25%;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


